* {
  box-sizing: border-box;
}

#root {
  --primary-dark: #006d77;
  --primary-light: #83c5be;
  --text: #edf6f9;
  --secondary-light: #ffddd2;
  --secondary-dark: #e29578;
  --background-dark: #36454f;
  --background-dark2: hsl(204, 19%, 35%);

  margin: 0 auto;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background-dark);
  color: var(--text);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

.container {
  max-width: 1280px;
  width: 100%;
  height: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

.header {
  font-weight: 700;
  letter-spacing: -0.02em;
  font-family: 'New Amsterdam', sans-serif;
  height: 80px;
  line-height: 80px;
}

.content {
  display: flex;
  /* margin-top: 1rem; */
  flex-direction: row;
  background-color: var(--background-dark2);
  --background-dark: #36454f;
  padding: 1em;
  border-radius: 1em;
  align-items: flex-start;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  height: calc(100% - 100px);
}

.header,
.content h2,
.content h3 {
  color: var(--primary-light);
}

.sidebar {
  flex: 0 1 200px;
}

.shoplist {
  flex: 1 1 100%;
}

ul {
  list-style-type: none;
}

.shoplist-links {
  padding-inline-start: 1em;
}

.shoplist-link-item + .shoplist-link-item {
  margin-top: 0.5em;
}

.shoplist-link-item a {
  text-decoration: none;
  color: var(--text);
}

.shoplist-link-item a:hover {
  color: var(--secondary-light);
}
