:root {
  --primary-dark: #006d77;
  --primary-light: #83c5be;
  --text: #edf6f9;
  --secondary-light: #ffddd2;
  --secondary-dark: #e29578;
  --background-dark: #36454f;
  --background-dark2: hsl(204, 19%, 35%);

  font-family: 'Roboto', sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--background-dark);
  color: var(--text);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
